<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/breder.compiler/src/breder/compiler/compiler/mobile/iphone/BrederIPhoneCompiler.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="breder.compiler.compiler.mobile.iphone.BrederIPhoneCompiler"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="breder.game.Main -cp /Users/bernardobreder/breder/eclipse/project/breder.app.iphone.game/src -cp /Users/bernardobreder/breder/eclipse/project/breder.app.iphone.game/src_gui -op /Users/bernardobreder/breder/eclipse/project/breder.sbgames2010/breder"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="breder.compiler"/>
</launchConfiguration>
